# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm
.swiftpm/
*.xcuserstate
*.xcscmblueprint

# macOS
.DS_Store

# Swift Package Manager
.build/
Package.resolved
